.matList2ndLevel {
    font-size: 10px;
    color: green;
    font-weight: bold;
}

.matList3ndLevel {
    font-size: 10px;
    color: darkgreen;
    font-weight: bold;
}

.demo-card {
    width: 300px;
}