<h2>Potraviny</h2>
<div class="p1">Zoznam potravín, na ktoré dopláca zdravotná poisťovňa:</div>
<clr-datagrid>
  <clr-dg-column>Vykazujúci kód</clr-dg-column>
  <clr-dg-column>Párajúci kód</clr-dg-column>
  <clr-dg-column>Názov</clr-dg-column>
  <clr-dg-column>Doplnok</clr-dg-column>
  <clr-dg-column>Výrobca</clr-dg-column>
  <clr-dg-column>Štát</clr-dg-column>
  <clr-dg-column>Maximálna cena v lekárni</clr-dg-column>
  <clr-dg-column>Úhrada zdravotnou poisťovňou</clr-dg-column>
  <clr-dg-column>Spôsob platby</clr-dg-column>
  <clr-dg-column>Doplatok poistenca</clr-dg-column>
  <clr-dg-column>LS výška prepočítaného doplatku</clr-dg-column>
  <clr-dg-column>RD v balení</clr-dg-column>
  <clr-dg-column>Preskripčné obmedzenia</clr-dg-column>
  <clr-dg-column>Množstevné limity</clr-dg-column>

  <clr-dg-row *ngFor="let grocery of groceries">
    <clr-dg-cell>{{grocery.trackingCode}}</clr-dg-cell>
    <clr-dg-cell>{{grocery.pairingCode}}</clr-dg-cell>
    <clr-dg-cell>{{grocery.name}}</clr-dg-cell>
    <clr-dg-cell>{{grocery.supplement}}</clr-dg-cell>
    <clr-dg-cell>{{grocery.producer}}</clr-dg-cell>
    <clr-dg-cell>{{grocery.state}}</clr-dg-cell>
    <clr-dg-cell>{{grocery.maxPrice}}</clr-dg-cell>
    <clr-dg-cell>{{grocery.healthInsuranceCompanySurcharge}}</clr-dg-cell>
    <clr-dg-cell>{{grocery.paymentWay}}</clr-dg-cell>
    <clr-dg-cell>{{grocery.insuredSurcharge}}</clr-dg-cell>
    <clr-dg-cell>{{grocery.lsSurcharge}}</clr-dg-cell>
    <clr-dg-cell>{{grocery.rdInPackage}}</clr-dg-cell>
    <clr-dg-cell>{{grocery.prescriptionLimit}}</clr-dg-cell>
    <clr-dg-cell>{{grocery.quantityLimit}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>{{groceries.length}} potravín</clr-dg-footer>
</clr-datagrid>
