<mat-table [dataSource]="myDataSource">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
    <mat-cell *matCellDef="let user">{{user.name}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.id}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef>Username</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.username}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['id', 'name', 'username']"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: ['id', 'name', 'username']"></mat-row>
</mat-table>