<!-- <nav>
    <div><a routerLink='' routerLinkActive="active">all</a></div>
    <div><a routerLink='mat-table'>material table</a></div>
    <!-- <div><a routerLink='ord-table'>ordinary table</a></div> -->
    <!-- <div><a routerLink='lst-table'>list table</a></div> -->
<!-- </nav> -->
<mat-nav-list>
    <mat-list-item><a matLine routerLink='' routerLinkActive="active">all</a></mat-list-item>
    <mat-list-item><a routerLink='mat-table'>material table</a></mat-list-item>
    <mat-list-item><a routerLink='lst-table'>list table</a></mat-list-item>
</mat-nav-list>
<router-outlet></router-outlet>
<app-messages [wrapLines]="true"></app-messages>
