<button mat-button  [matMenuTriggerFor]="menu">Users</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="toggleDisplayUsers()">Display</button>
  <button mat-menu-item>Store</button>
</mat-menu>

<!-- <ng-container matColumnDef="userName">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
</ng-container> -->
<!-- <app-display-users *ngIf="showUsers==true"></app-display-users> -->
<app-display-users></app-display-users>