<mat-checkbox [(ngModel)]="showSidenav">show side bar</mat-checkbox>
<mat-slide-toggle [(ngModel)]="showSidenav">show side bar</mat-slide-toggle>

<div *ngIf="!showSidenav">
    <app-navigation></app-navigation>          
    <app-context></app-context>    
</div>
<div *ngIf="showSidenav">
    <mat-sidenav-container>
        <mat-sidenav mode="side" opened="true">
            <app-navigation></app-navigation>                  
        </mat-sidenav>
        <mat-sidenav-content>
            <app-context></app-context>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>