<hr>
<input type="button" 
  (click)="isClick=true; catchEvent('click')"
  (contextmenu)="isContextmenu=true;  catchEvent('context menu')"
  (dblclick)="isDoubleclick=true;  catchEvent('double click')"
  (mousedown)="isMousedown=true;  catchEvent('mouse down')"
  (mouseup)="isMouseup=true;  catchEvent('mouse up')"
  (mouseenter)="isMouseenter=true;  catchEvent('mouse enter')"
  (mouseleave)="isMouseleave=true;  catchEvent('mouse leave')"
  (mousemove)="isMousemove=true;  catchEvent('mouse move')"
  (keydown)="isKeydown=true;  catchEvent('key down')"
  (keyup)="isKeyup=true;  catchEvent('key up')"
  (keypress)="isKeypress=true;  catchEvent('key press')"
  value="button1">

<input type="button" (click)="resetAll()" value="reset">

  <table border=true>
    <tr>
      <th>DOM event</th>
      <th>Angular event</th>
      <th>description</th>
      <th>status</th>
    </tr>
    <tr>
      <td>onclick</td>
      <td>click</td>
      <td>left mouse click</td>
      <td><b>{{isClick}}</b></td>
    </tr>
    <tr>
      <td>oncontextmenu</td>
      <td>contextmenu</td>
      <td>right mouse click</td>
      <td><b>{{isContextmenu}}</b></td>
    </tr>
    <tr>
      <td>ondblclick</td>
      <td>dblclick</td>
      <td>double click</td>
      <td><b>{{isDoubleclick}}</b></td>
    </tr>
    <tr>
      <td>onmousedown</td>
      <td>mousedown</td>
      <td>left click - still hold</td>
      <td><b>{{isMousedown}}</b></td>
    </tr>
    <tr>
      <td>onmouseup</td>
      <td>mouseup</td>
      <td>left click - after release</td>
      <td><b>{{isMouseup}}</b></td>
    </tr>
    <tr>
      <td>onmouseenter</td>
      <td>mouseenter</td>
      <td>when edge of element is reached</td>
      <td><b>{{isMouseenter}}</b></td>
    </tr>
    <tr>
      <td>onmouseleave</td>
      <td>mouseleave</td>
      <td>when 2nd edge of element is reached</td>
      <td><b>{{isMouseleave}}</b></td>
    </tr>
    <tr>
      <td>onmousemove</td>
      <td>mousemove</td>
      <td>when over element and movement is done</td>
      <td><b>{{isMousemove}}</b></td>
    </tr>
    <tr>
      <td>onkeydown</td>
      <td>keydown</td>
      <td>when element is active and key is pressed</td>
      <td><b>{{isKeydown}}</b></td>
    </tr>
    <tr>
      <td>onkeyup</td>
      <td>keyup</td>
      <td>when element is active and key is released</td>
      <td><b>{{isKeyup}}</b></td>
    </tr>
    <tr>
      <td>onkeypress</td>
      <td>keypress</td>
      <td>when element is active and key is pressed</td>
      <td><b>{{isKeypress}}</b></td>
    </tr>
  </table>

<p *ngIf=!isClicked>
    Not clicked on button1.
</p>
<hr>
  input with template reference variable: <input #inputVar type="text" (keyup)="a">
  {{inputVar.value}}
  <br />
  
  input with 2-way-binding: <input  type="text" [(ngModel)]="input1">
  {{input1}}
  <br />

  input which react on enter: <input #inputVar2 type="text" (keyup.enter)="assignValue(inputVar2.value)" (blur)="assignValue(inputVar2.value)">
  {{inputValue2}}
<hr>
How attributes (from ngModel) of input box are changed<br />
<label for="input3">input1</label>
<input type="text" id="input3" [(ngModel)]="input3Value" #input3="ngModel" required maxlength="5" minlength="3" forbiddenName="joe">
<p *ngIf=input3.touched>touched</p>
<p *ngIf=!input3.touched>untouched</p>
<p *ngIf=input3.pristine>pristine</p>
<p *ngIf=!input3.pristine>unpristine</p>
<p *ngIf=input3.valid>valid</p>
<p *ngIf=!input3.valid>invalid</p>
<p *ngIf=input3.dirty>dirty</p>
<p *ngIf=!input3.valid>not dirty</p>
<p *ngIf="input3.errors.required">!!required but not specified!!</p>
<p *ngIf="input3.errors.minlength">!!min length problem!!</p>
<p *ngIf="input3.errors.maxlength">max length problem</p>
<p *ngIf="input3.errors.forbiddenName">!!forbidden name!!</p> <!--  doesn't work -->

<hr>

