<h2>Potraviny</h2>
<div class="p1">Zoznam potravín, na ktoré dopláca zdravotná poisťovňa:</div>

<app-filter
        [filterTemplates]="filteringTemplate"
        (filterSpecified)="handleFilterSpecified($event)"></app-filter>

<app-groceries-table
        [groceriesView]="groceriesAvailableView"
        [title]="'Dostupné dietetické potraviny'"
        (grocerySelected)="handleGrocerySelected($event)"></app-groceries-table>

<app-groceries-table
        [groceriesView]="groceriesSelectedView"
        [title]="'Vybraté dietetické potraviny'"
        (grocerySelected)="handleGroceryUnselected($event)"></app-groceries-table>