<button mat-button (click)="filterData()">Filter!</button>
<div fxLayout="row" *ngFor="let filteringRowToRender of filteringRowsToRender; index as j">
  <mat-icon *ngIf="j>0" (click)="removeFilterRow(j)">remove</mat-icon>
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field>
      <mat-select name="tableField" [(value)]="filteringRowToRender.filterInputTemplateToAdd">
          <mat-option *ngFor="let filterTemplate of filterTemplates; index as templateIdx"
            [value]="templateIdx">
              {{filterTemplate.showLabel}}
          </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-icon (click)="addFilteringValue(filteringRowToRender, j, filteringRowToRender.filterInputTemplateToAdd)">add</mat-icon>
    <div fxLayout="column" *ngFor="let filteringValue of filteringRowToRender.filteringValues; index as i">
      <mat-icon (click)="removeFilteringValue(filteringRowToRender, j, i, filteringValue)">remove</mat-icon>
      <mat-form-field>
        <label>{{filteringValue.template.showLabel}}</label>
        <input matInput name="input" [(ngModel)]="filteringValue.value" />
      </mat-form-field>
    </div>
  </div>
</div>
<mat-icon (click)="addFilterRow()">add</mat-icon>
{{filteringRowsToRender | json}}
<br />
{{filter | json}}